div {
    text-align: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    height: 25px;
    padding: 3px;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.field {
    size: 20px;
}